#loading {
  margin: 10px;
}

.readmore {
  float:right;
}

.clearfix {
  clear: both;
}

.entry {
  border-bottom: 1px solid silver;
  padding: 5px 0px;
  height: auto;
  position: relative;
}

.title {
  font-weight: bold;
  margin-right: 5px;
}

.file_list {
  margin-left: 4px;
}

.file_list td {
  height: 35px;
  padding: 5px 0 !important;
}

.file_list input[type="file"] {
  margin: 0;
  height: 22px;
  line-height: 22px;
  width: 238px;
}

.file_label {
  width: 77px;
}

#show .images a {
  display: block;
  margin: 5px;
}

#show .siblings {
  margin-top: 10px;
  margin-bottom: 10px;
}

#show .edit .btn-group {
  float: right;
}

#show .public_flag{
  text-align: right;
}

/* comment */
#comment-form{
  width: 295px;
  margin-left: 25px;
  background-color: whiteSmoke;
}

.comments {
  width: 295px;
  margin-left: 25px;
  margin-top: 10px;
  background-color: whiteSmoke;
}

/* comment box */
.comment-wrapper {
  width: 285px;
  display: block;
  padding: 5px;
  border-top: 1px solid #DDD;
  position: relative;
  height: auto;
}

.comment-member span.member-image {
  float: left;
  width: 23px;
}

.comment-member span.member-name {
  float: left;
  margin-left: 5px;
}

.comment-content {
  float: right;
  width: 257px;
}

.comment-content span.created_at {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.9em;
  margin: 5px;
}

.comment-control span.delete {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
}
/* comment box end */

.comment-form {
  padding: 5px;
}

.comment-form form {
  margin-bottom: 5px;
}

.comment-form textarea {
  margin-top: 5px;
}

.comment-form input[type="file"] {
  margin: 0;
  height: 22px;
  line-height: 22px;
  width: 238px;
}

.comment-form-loader {
  display: none;
  width: 285px;
  padding: 5px;
  border-top: 1px solid #DDD;
  text-align: center;
}

.comment-form-loader img {
  max-width: 20px;
  max-height: 20px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
  margin: 0px;
}

.comment-button{
  width: 140px;
}

#comment-error, .error {
  color: red;
}

/* comment end */

/* diary page */
div.member-information {
  float: left;
  text-align: center;
}

div.member-information img {
  width: 57px;
  height: 57px;
}

div.member-information .member-name {
  font-size: 0.9em;
}

div.diary-information {
  float: left;
}

div.diary-information .ago{
  float: right;
}

div.diary-information .body{
  float: left;
  width: 80%;
}

div.diary-information .view{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#show div.gadget_header.title {
  background-color: #333;
  color: #ffffff;
  height: auto;
}
/* diary page end */
